################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PracticeHackerRank/obj
/.vs
/PracticeHackerRank/.vs/PracticeHackerRank/v16
/PracticeHackerRank/.vs/PracticeHackerRank/DesignTimeBuild
