################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PracticeHackerRank/obj
/.vs
/PracticeHackerRank/.vs/PracticeHackerRank/v16
/PracticeHackerRank/.vs/PracticeHackerRank/DesignTimeBuild
/PracticeHackerRank/bin/Debug/netcoreapp3.1
/DecoratorPattern/bin/Debug/netstandard2.0
/DecoratorPattern/obj
/DesignPattern/obj
/DesignPattern/bin/Debug/netstandard2.0
/DatabasePractice/bin/Debug/netstandard2.0
/DatabasePractice/obj
/TestApi/bin/Debug/netcoreapp3.1
/TestApi/obj
/ActionApi/bin/Debug/netcoreapp3.1
/ActionApi/obj
/Action.Domain/bin/Debug/netstandard2.0
/Action.Domain/obj
/ActionApi/Migrations
/TDDKata/obj
/TDDKata/bin/Debug/netcoreapp3.1
/ActionApi.UnitTest/ActionApi.UnitTest/obj
/ActionApi.UnitTest/ActionApi.UnitTest/bin/Debug/netcoreapp3.1
/QuartzLibrary.Standard/bin/Debug/netstandard2.1
/QuartzLibrary.Standard/obj
/ActionApi/bin/Debug/net8.0
