################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PracticeHackerRank/obj
/.vs
/PracticeHackerRank/.vs/PracticeHackerRank/v16
/PracticeHackerRank/.vs/PracticeHackerRank/DesignTimeBuild
/PracticeHackerRank/bin/Debug/netcoreapp3.1
/DecoratorPattern/bin/Debug/netstandard2.0
/DecoratorPattern/obj
/DesignPattern/obj
/DesignPattern/bin/Debug/netstandard2.0
/DatabasePractice/bin/Debug/netstandard2.0
/DatabasePractice/obj
/TestApi/bin/Debug/netstandard2.0
/TestApi/obj
